$myColor: red;

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("./Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
  }
  
h1 {
  color: $myColor;
}

nav {
    overflow: hidden;  
    background-color: #5e5e5e;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:right;
    color: #ffffff;
}
a{
color:#ffffff ;
text-decoration: none;
margin-top: auto;
margin-bottom: auto;
margin-left: 1em;
margin-right: 1em;
}

select {
background-color:#d0ba93 ;
width: 190px;
position: relative;
}

.nav-selected:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
option {
text-align: center;
color: #ffffff;
}

.nav select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

.btn{
    width: 206px;
    height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    background-color: #ff915b;
    border: 1px solid red;
    padding :14px;
    color:#ffffff
}

.joke-title{
  width: 206px;
  height: 20px;
  margin: 0 0 6px 8px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #303030;
}

.joke-body{
  width: 328px;
  height: 154;
  margin: 6px 0 32px;
  font-family: src('./');
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #303030;
}
.joke{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 40%;
  font-family: "Montserrat";
}